@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0f172a;
  background-color: #f8fafc;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
